body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem; /*16px*/
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.main-content::-webkit-scrollbar{
    display: none;
}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
}

.nav{
    background-color: #121212;
    border-radius: 1rem; /*16px*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

a{
    color: white;
    text-decoration: none;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.3rem 0.75rem;
}

.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
    padding-left: 1rem;
}

.main .sidebar .library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar .library .options .lib-options img{
    height: 1.25rem;
    width: 1.25rem;
}

.library .options .icons{
    font-size: 1rem;
    display: flex;
}

.library .options .icons i{
    opacity: 0.7;
    margin-right: 1rem;
}

.library .options .icons i:hover{
    opacity: 1;
}

.lib-boxes .box{
    background-color: #232323;
    height: 7.75rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1rem 0;
    padding: 0.1rem 1rem 1rem 1rem;
}

.box-p1{
    font-size: 1rem;
    font-weight: 600;
}

.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}

.lib-boxes .badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.lib-boxes .badge:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 1;
}

.sticky-nav-icons{
    margin-left: 0.8rem;
}

.sticky-nav-icons .backward-icon{
    margin-right: 0.5rem;
}

.sticky-nav-badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    height: 2rem;
    width: fit-content;
    margin-right: 0.8rem;
}

.sticky-nav-options{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.dark-badge{
    background-color: #000;
    color: #fff;
}

@media (max-width: 1000px) {
    .hide{
        display: none;
    }
}

.card{
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    flex-shrink: 0;
}

.card:hover{
    background-color: #232323;
    cursor: pointer;
}

.rp{
    height: 11rem;
}

.mfy{
    height: 12rem;
}

.mfy .card-info{
    margin-top: 0.5rem;
}

.rp .card-info{
    margin-top: 0.5rem;
    opacity: 1;
}

.rec-sta .card-info{
    margin: 1rem 0;
}

.rec-sta{
    height: fit-content;
}

.cards-container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.cards-container::-webkit-scrollbar{
    display: none;
}

.card .card-img{
    border-radius: 0.3rem;
    width: 100%;
}

.card-title{
    font-weight: 600;
}

.card-info{
    font-size: 0.85rem;
    opacity: 0.8;
}

.main-content h2{
    margin-bottom: 0;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.footer .line{
    width: 90%;
    height: 30%;
    border-top: 1px solid #fff;
    opacity: 0.4;
}

.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.music-player .left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22%;
}

.music-player .music-details{
    display: flex;
    align-items: center;
}

.music-player .left img{
    height: 3.5rem;
    margin: 0 1rem 0 0.7rem;
    border-radius: 3px;
}

.music-player .center{
    width: 50%;
    flex-shrink: 5;
}

.music-player .right{
    width: 28%;
}

.song-name{
    font-weight: 600;
}

.song-artist{
    font-size: 12px;
    opacity: 0.5;
}

.music-player-icons{
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-player .right{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sound-plus-sound-bar{
    display: flex;
    align-items: center;
}

.sound-bar{
    appearance: none;
    background-color: transparent;
}

.sound-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    height: 0.2rem;
    border-radius: 100px;
}

.sound-bar::-webkit-slider-thumb{
    appearance: none;
    height: 0.7rem;
    width: 0.7rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -4px;
}

.material-symbols-outlined, .sound-plus-sound-bar{
    margin: 0 0.2rem;
}

.material-symbols-outlined, .sound-plus-sound-bar input{
    font-size: 20px;
}

.music-player .right *:hover{
    cursor: pointer;
}

.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-controls .player-control-icon:hover{
    opacity: 1;
}

.player-control-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}

.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playback-bar input[type="range" i] {
    margin: 0 1rem;
}

.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 0.9rem;
    width: 0.9rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}
/* .progress-bar::-moz-range-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
} */

/* .material-symbols-outlined {
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.music-player .right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.music-player .right span {
  padding: 2px;
} */

/* .progress-bar::-moz{
    appearance: none;
    height: 0.9rem;
    width: 0.9rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
} */

input[type="range"] {
  appearance: none;
  -moz-appearance: none;
}

/* Full track */
input[type="range"]::-moz-range-track {
  background-color: #ddd;
  height: 0.2rem;
  border-radius: 100px;
}

/* Filled progress */
input[type="range"]::-moz-range-progress {
  background-color: #1bd760;
  height: 0.2rem;
  border-radius: 100px;
}

/* Thumb */
input[type="range"]::-moz-range-thumb {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #1bd760;
  border-radius: 50%;
  border: none;
}


.container-for-player-controls{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-five{
    margin-right: 0;
}

@media (max-width: 1200px) {
    .one, .two, .six, .seven{
        display: none;
    }
}

@media (min-width: 880px) and (max-width: 1200px){
    .music-player .left{
        width: 25%;
    }
    
    .music-player .center{
        width: 50%;
    }
    .music-player .right{
        width: 25%;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1080px) {
    .music-player .right{
        justify-content: flex-start;
    }
}

@media (max-width: 900px) {
    .sidebar{
        display: none;
    }

    .music-player .right{
        display: none;
    }

    .music-player .center{
        width: 70%;
    }
    
    .music-player .left{
        width: 30%;
    }
    
    .main {
    padding: 0;
    }

    .main-content {
    border-radius: 0;
    padding: 0 1rem;
    }
}

@media (max-width: 650px) {
    .music-player .center .playback-bar .curr-time, .tot-time{
        display: none;
    }

    .music-player .center .player-controls{
        margin-bottom: 10px;
    }
}

@media (max-width: 710px) {
    .music-player .left .music-player-icons .fa-heart{
        display: none;
    }
    
    .music-player .left .music-details .music-info .song-artist{
        display: none;
    }
    
    .music-player .left{
        width: 23%;
    }
    .music-player .center{
        width: 77%;
        justify-content: flex-end;
    }
}

@media (max-width: 470px) {
    .music-player .center .player-controls{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: fit-content;
        flex-shrink: 0;
    }
    
    .music-player .center .player-controls .center-one, .center-five{
        display: none;
    }
    .center-four{
        margin-right: 0;
    }
}

@media (max-width: 350px) {
    .music-player .left .music-details .music-info .song-name{
        display: none;
    }
}

@media (max-width: 600px) {
  html {
    font-size: 15px;
  }
}